@* @model List<WebApplication1.Models.LoaiPhong> //khai báo 1 list NhanVien *@

@{
    var index = 1;
}
@model WebApplication1.OtherModels.DetailRoom;

<div class="container-xxl bg-white p-0">
<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url('@Url.Content("~/images/carousel-1.jpg")');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">@Model.info.Ten</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">@Model.info.Ten</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
@await Component.InvokeAsync("BackGroundBooking");
<!-- Booking End -->
<!-- Detail Main Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Detail Room</h6>
                <h1 class="mb-5">Welcome to <span class="text-primary text-uppercase">@Model.info.Ten Room</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="@Model.image[0]" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="@Model.image[1]">
                    </div>
                    <div class="col-6 text-end">
                            <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="@Model.image[2]">
                    </div>
                    <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="@Model.image[3]">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form>
                        <div class="row g-3">
                                @* Name *@
                            <div class="col-md-6">
                                <div class="form-floating">
                                        <h3 style="color:#008B8B;">@Model.info.Ten Room</h3>
                                </div>
                            </div>
                                @* Price *@
                             <div class="col-md-6">
                                <div class="form-floating">
                                        <h5 style ="background-color:tomato;">Price: @Model.info.Gia VND/night</h5>
                                </div>
                            </div>
                                @* Rating *@
                            <div class="col-md-6"> 
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <h4>Rating:</h4>
                                        <div class="ps-2">
                                            @{
                                                // Phần nguyên của rating
                                                int fullStars = (int)Math.Floor((decimal)Model.info.DanhGia);
                                                // Phần thập phân của rating
                                                double fractionalPart = (double)Model.info.DanhGia - fullStars;

                                                // Hiển thị sao đầy đủ
                                                for (int i = 0; i < fullStars; i++)
                                                {
                                                    <small class="fa fa-star text-primary"></small>
                                                }

                                                // Hiển thị sao nửa nếu có
                                                if (fractionalPart >= 0.5)
                                                {
                                                    <small class="fa fa-star-half-alt text-primary"></small>
                                                }
                                                // Hiển thị các sao còn lại (sao rỗng)
                                                for (int i = 0; i < 5 - fullStars - (fractionalPart >= 0.5 ? 1 : 0); i++)
                                                {
                                                    <small class="fa fa-star text-secondary"></small>
                                                }
                                            }
                                        </div>
                                </div>
                            </div>
                                @* Quantity *@
                            <div class="col-md-6">
                                    <h4>Quantity: </h4>
                                    <h5 style="color:chocolate">@Model.info.Soluong Room</h5>
                            </div> 
                                @* Services *@
                            <div class="col-12">
                                <div class="form-floating">
                                        <h4>Services:</h4>
                                        <p style="color: brown">
                                            @{
                                                int count = 0;
                                                foreach (var name in Model.service)
                                                {
                                                    @name
                                                    if (count < Model.service.Count() - 1)
                                                    {
                                                        <text>, </text>
                                                    }
                                                    count++;
                                                }
                                            }
                                            ,...
                                        </p>
                                 </div>
                            </div>
                                @* Tien nghi *@
                            <div class="col-md-6">
                                <div class="form-floating">
                                        <h4>Includes:</h4>
                                        <p>Wifi, sandal, water, ...</p>
                                </div>
                            </div>
                                @* Description *@
                            <div class="col-12">
                                <div class="form-floating">
                                    <h4>Description:</h4>
                                    <p>@Model.info.Mota</p>
                                </div>
                            </div>
                                @* Booking Button *@
                            <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" href="~/Home/Booking" type="submit">BOOK NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail Main End -->
    <!-- Testimonial Start -->
    <div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
        <div class="container">
            <div class="owl-carousel testimonial-carousel py-5">
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>DACNA Hotel has proven itself to be one of the top hotels in VietNam with its excellent service quality. The rooms are not only clean and spacious but also designed with high aesthetic standards. Amenities like the pool, spa, and restaurant meet international standards. The friendly and enthusiastic staff is one of the key highlights that make this hotel successful. </p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-1.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Nguyen Anh Thy</h6>
                            <small>Service Critic</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>DACNA Hotel is a standout in the hospitality industry in VietNam. The hotel not only boasts a prime location but also offers excellent service quality. The rooms are luxuriously designed, well-equipped, and ensure maximum comfort for guests. The professional and friendly staff is a big plus. This is a perfect choice for tourists and business travelers.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Mike Tyson</h6>
                            <small>Travel Expert</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>I had a wonderful stay at DACNA Hotel. The rooms were very clean and well-equipped, with comfortable beds. Room service was always prompt and professional. The hotel's location is also very convenient for getting to popular tourist destinations. I will definitely return here on my next trips. This is definitely an ideal place for anyone to stay here. I love there so much.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-3.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Le Quang Minh</h6>
                            <small>Customer</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</div>