@model IEnumerable<WebApplication1.Models.Booking> //khai báo 1 list bookings
@{
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(~/../../images/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
@await Component.InvokeAsync("BackGroundBooking");
<!-- Booking End -->

<!-- Booking Main Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
            <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/images/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/images/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/images/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/images/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="checkin" placeholder="Check In" data-target="#date3" data-toggle="datetimepicker" />
                                    <label for="checkin">Check In</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date4" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="checkout" placeholder="Check Out" data-target="#date4" data-toggle="datetimepicker" />
                                    <label for="checkout">Check Out</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="idnumber" class="form-control" id="idnumber" placeholder="Your ID number"> @* id == cccd *@
                                    <label for="idnumber">Your ID number</label> @* id == cccd *@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="phone" class="form-control" id="phone" placeholder="Your Phone">
                                    <label for="phone">Your Phone</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <select class="form-select" id="select3">
                                        <option value="1">Standard</option>
                                        <option value="2">Superior</option>
                                        <option value="3">Deluxe</option>
                                        <option value="4">Suite</option>
                                    </select>
                                    <label for="select3">Select A Room</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                    <label for="message">Special Request</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">BOOK NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking Main End -->

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">MaBooking</th>
                <th scope="col">MaKh</th>
                <th scope="col">MaLoai</th>
                <th scope="col">NgayIN</th>
                <th scope="col">NgayOut</th>
                <th scope="col">Gia</th>
                <th scope="col">Gia Goc</th>
                <th scope="col">Gia Giam</th>
                <th scope="col">MaNV</th>
                <th scope="col">TrangThai</th>
                <th scope="col">DatCoc</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.MaBooking</td>
                    <td>@p.MaKh</td>
                    <td>@p.MaLoai</td>
                    <td>@p.NgayIn</td>
                    <td>@p.NgayOut</td>
                    <td>@p.Gia</td>
                    <td>@p.GiaGoc</td>
                    <td>@p.GiaGiam</td>
                    <td>@p.MaNv</td>
                    <td>@p.TrangThai</td>
                    <td>@p.DatCoc</td>
                </tr>
            };
        </tbody>
    </table>
</div>
